.mennav {
  margin-top: 40px;
}

.mnavmenu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-left: 220px;
}

.mnavlist {
  color: #7c7575;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.mnavlist::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;

  background: black;
  transition: width 0.3s;
}

.mnavlist:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mennav {
    margin-top: 5vh;

    margin-left: -40px;
  }
  .mnavmenu {
    width: 70%;
    margin-left: 25vw;
  }
  .mnavlist {
    font-size: 15px;
    margin-left: 0px;
  }
}
