.carousel::before {
  content: "";
  position: absolute;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 98vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.image1 {
  position: relative;
  width: 100%;
  position: relative;
  top: -10vh;
  height: 100vh;
  object-fit: cover;
  z-index: -111;
}
.carouseldesc {
  position: absolute;
  top: 58vh;
  left: 8vw;
}
.carouseltext {
  font-size: 2.2em;
  color: #d3d3d3;
  letter-spacing: 1px;
}
.carouselsmalltext {
  font-size: 1.7em;
  color: white;
  margin-bottom: 2vh;
}
.carouselbutton {
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  font-size: 1.1em;
  box-shadow: inset 0 0 0 0 #d3d3d3;
  transition: 0.3s all ease-in-out;
}
.carouselbutton:hover {
  box-shadow: inset 30vh 0 0 0 black;
  color: white;
  border: none;
}
.menpicks {
  margin-top: -6vh;
}
.mentitle {
  font-size: 1.5em;
  margin-left: 45vw;
  margin-bottom: 5vh;
  color: #a5a1a1;
}

.womentitle {
  font-size: 1.5em;
  margin-top: 15vh;
  margin-left: 45vw;
  margin-bottom: 5vh;
  color: #a5a1a1;
}
.mengrid {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  margin-left: 15vw;
}

.menimage {
  height: 55vh;
  width: 20vw;
}
.categorygrid {
  margin-top: 8vh;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  margin-left: 15vw;
  margin-bottom: 10vh;
}

.category {
  width: 30vw;
  height: 60vh;
  position: relative;
  background: black;
}

.categorytext {
  font-size: 1.4em;
  position: absolute;
  top: 25vh;
  left: 10vw;
  color: white;
}
.categoryimg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.category:hover .categorytext {
  visibility: hidden;
}
.category:hover .categoryimg {
  visibility: visible;
  cursor: pointer;
}
