@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background: transparent;
  z-index: 999;
}

.headerlink {
  text-decoration: none;
  color: #a0a0a0;
  font-family: "Abril Fatface", cursive;
  font-size: 35px;
  margin-left: 80px;
}
.menuitems {
  margin-left: -60px;
  display: flex;
  justify-content: space-around;
  width: 15%;
  list-style-type: none;
  font-size: 15px;
}

.listitem {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 400;
}

.listitem:hover {
  color: black;
}
.mobile-menu {
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 22%;
  margin-right: -60px;
}
.backbtn {
  display: none;
}

.menu-item {
  font-size: 15px;
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 400;
}

.menu-item:hover {
  color: red;
}

.activelistnav {
  color: #e72b2b;
}
.closebtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    margin-left: 0px;
  }
  .menuitems {
    margin-left: 18px;
    width: 0%;
    font-size: 12px;
  }
  .listitem {
    margin-left: 20px;
  }
  .logo {
  }
  .headerlink {
    font-size: 30px;
    margin-left: 10px;
  }
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0vh;
    right: 50px;
    width: 105%;
    color: black;
    align-items: center;
    height: 100vh;
    transition: 0.2s all ease-in;
    z-index: 999;
    transform: translateX(100%);
  }
  .menu-hide {
    opacity: 0;
  }
  .menu-active {
    transform: translateX(0%);
    opacity: 1;
  }
  .mobile-menu {
    display: block;
    margin-right: -30px;
  }
  .closebtn {
    display: block;
    position: absolute;
    top: 20px;
    left: 80vw;
  }
}
