.displaytext {
  width: 450px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  margin-left: 33vw;
  margin-top: 10vh;
  padding: 20px 40px;
}

.displaytext p {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.displaytext button {
  border: none;
  padding: 10px 20px;
  background: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .displaytext {
    margin-top: 7vh;
    margin-left: 4vw;



    width: 90vw;
    height: 200px;
    



  }
  .displaytext p {
    text-align: center;
    font-size: 14px;
  }
  
}
