.linkul {
    margin-top: 50px;
  margin-left: 550px;
  display: grid;
  grid-template-columns: repeat(2, 15%);
  list-style-type: none;
}
.linkul li {
  font-size: 20px;
}
.linkitem {
  text-decoration: none;
  color: black;

}

.linkitemactive{
    color: white;
    background: black;
    padding: 10px 20px;
    margin-left: -20px;
}

@media screen and (max-width : 768px){
  .linkul {
    margin-top: 40px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(2, 40%);
}
.linkul li {
  font-size: 13px;
}
}