@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
* {
  font-family: "Alatsi", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.shopping {
  overflow-x: hidden;
  height: 100%;
}
